*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#BgImage{
    position: absolute;
    height: 100vh;
    width: 100vw;
}
#todo-app{
    position: absolute;
    background-image: linear-gradient(135deg,#00aab0,#e4fffe);
    min-height: 44vh;
    max-height: 574px;
    overflow-y: auto;
    width: 34vw;
    top: 13%;
    left: 8%;
    border-radius: 25px;
    box-shadow: -20px 15px 10px #409C9A ;
    padding: 0 2%
}
.heading{
    display: flex;
    /* justify-content: center; */
    gap: 7%;
    margin-top: 3%;
    align-items: center;
}
.heading h1{
    font-size: 40px;
}

.task-enter{
    display: flex;
    margin-top: 3%;
    gap: 2%;
    /* justify-content: center; */
}
.task-enter input{
    height: 50px;
    border: none;
    border-radius: 50px;
    width: 75%;
    padding-left: 5%;
    font-size: 18px;
}
.task-enter input:focus{
    outline: none;
}
.task-enter button{
    height: 50px;
    border: none;
    border-radius: 50px;
    width: 25%;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
}

#list-container{
    margin-top: 3%;
    list-style: none;
    font-size: 22px;
    line-height: 30px;
    padding-left: 6%;
    align-items: center;
    position: relative;
}
#list-container li{
    width: 80%;
    padding-left: 3%;
    border-radius: 20px;
}
#list-container li:hover{
    background-color: #409c9b80;

}

.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    content: ' ';
    height: 25px;
    width: 25px;
    left: 0;
    position: absolute;
    background-image: url("media/icons8-checked-24.png");
    background-position: center;
}

#list-container span{
    position: absolute;
    right: 0;
    width: 40px;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
    transition: 0.5s ease;
    cursor: pointer;
}
#list-container span:hover{
    transform: scale(1.3);
}